@media only screen and (min-resolution=200dpi) {
  .BannerPic {
    background: url(../BannerPic-4k.png) no-repeat center;
  }
}

body {
  min-width: 500px;
}

.BannerPic {
  background: url(../BannerPic-1080p.png) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

.BannerPic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
}

.Banner {
  text-align: center;
  position: relative;
  z-index: -10;
  height: 60vh;
  min-width: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.BannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
